asciitree==0.3.3
certifi==2025.11.12
charset-normalizer==3.4.4
fasteners==0.20
fsspec==2025.10.0
histolab==0.7.0
idna==3.11
imagecodecs==2025.3.30
ImageIO==2.37.2
networkx==3.4.2
numcodecs==0.13.1
numpy==1.24.4
packaging==25.0
pillow==10.4.0
platformdirs==4.5.0
pooch==1.8.2
PyWavelets==1.8.0
requests==2.32.5
scikit-image==0.19.3
scipy==1.10.0
tifffile==2025.5.10
tiffslide==2.5.1
typing_extensions==4.15.0
urllib3==2.5.0
zarr==2.18.3
